.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.name{
  font-size: 13px;
  margin-top: -15px;
}

.background{
  background-color: #282c34;
  color: white;
  margin-top: -30px;
 
}
.artist-name{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.favorite{
  margin-top: 100px;
}

.App{
  background-color: rgb(89, 89, 92);
}

.music-player {
  position: fixed;
  bottom: 0;
  --primary-color: #ddd;
  --secondary-color: #999;
  --green-color: #2d5;
  --padding: 1em;
  background-color: rgb(28, 27, 27);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  padding: var(--padding);
  color: var(--primary-color);
  z-index: 1;
}

i {
  color: var(--secondary-color);
}

i:hover {
  color: var(--primary-color);
}

.song-bar {
  position: absolute;
  left: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
}

.image-container {
  --size: 4.5em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.song-description p {
  margin: 0.2em;
}

.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.title:hover,
.artist:hover {
  text-decoration: underline;
}

.artist {
  color: var(--secondary-color);
}

.icons {
  display: flex;
  gap: 1em;
}

.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  color: var(--secondary-color);
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}

.play-pause {
  display: inline-block;
  padding: 1em;
  background-color: var(--primary-color);
  color: #111;
  border-radius: 50%;
}

.play-pause:hover {
  transform: scale(1.1);
  color: #111;
}

.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4;
}

.progress {
  position: relative;
  height: 100%;
  width: 30%;
  border-radius: 10px;
}

.progress-bar:hover .progress {
  background-color: var(--green-color);
}

.progress-bar:hover .progress::after {
  content: "";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}

.other-features {
  position: absolute;
  right: var(--padding);
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.volume-bar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}

.volume-bar .progress-bar {
  width: 6em;
}

.volume-bar .progress-bar:hover .progress::after {
  --size: 0.8em;
}

.underline:hover {
  text-decoration: underline;
  cursor: pointer;
}

.play-btn-container {
  position: relative;
  background-color: transparent;
}

.play-btn {
  position: absolute;
  font-size: 26px;
  bottom: 0;
  right: 0;
  visibility: hidden;
  background-color: transparent;
}

.card:hover .play-btn {
  position: absolute;
  font-size: 44px;
  bottom: 0;
  left: 75%;
  visibility: visible;
  background-color: transparent;
  transform: translateY(18px);
  opacity: 1;
  transition: transform 400ms, opacity 400ms;
}

.play-icon:hover {
  background-color: transparent;
}

.playlist {
  font-size: 12px;
}

.playlist i {
  font-size: 14px;
}